*{

  @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Poppins:wght@400;700&display=swap');

}
.chatbox__header {
    background: var(--primaryGradient);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: var(--primaryBoxShadow);
}

.chatbox__image--header {
    margin-right: 5px;
    display: inline-flex;
    
    

}

.chatbox__heading--header {
    font-size: 1.2rem;
    color: white;
    margin-left: 80px;
    
}
 

body{ 
   
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:#13102c  ;
}
 
h1{
    background-color: #13102c ;
    margin-top: 12px;
    font-size: 30px;
 

    text-align: center;
    color: #ffffff;
}

.container{
    background-color: #23203f;
    max-width: 955px;
    border: 2px solid black;
    border-radius: 13px;
    margin: auto;
    height: 60vh;
    padding: 33px ;
    overflow: scroll;
    margin-bottom: 23px;
    color: #ffffff;
    
}
.message{
background-color: #676f9d;
width:45% ;
padding:10px ;
margin:17px 12px ;
border: 2px solid black;
border-radius: 10px ;
font-size: 100%;
}
.left{
float: left;
clear: both;
background-color: #f9b17a;
color: black;
}
.right{
float: right;
clear: both;
}
img{
    height: 7%;
    width: 7%;
}
#send-container{
    
    margin: auto;
    text-align: center;
    max-width: 1031px; 
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#messageInp{
width: 100%;
border: 2px solid black;
border-radius: 6px;
height: 34px;
}
.btn {
    width: 10;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
}
.btn:hover{
    background-color: #f9b17a;
}

nav{
    background-color: #13102c ;
    text-align: center;
}



